
#navbar {
  top:0px;
  margin: 0;
  padding: 0;
  list-style-type: none;/*�������� ������� ��� ������.*/
 /* border: 2px solid #0066FF;/*����� ������*/
  border-radius: 0px 0px;/*����������� �����*/
  width: 1279px;
  text-align: center;/*������������ ������ �� ������*/
  background-color:red;/*���� ������� ����*/
}/*����� ����*/

#navbar {
  top:0px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  width: 100%;
  text-align: center;
  background-color: #1E4E95;
color:red;
}/*����� ����*/

#navbar a {
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;/*�������� ��� �������, � ��� ����� � ������������� � ������*/
  font-weight: bold;/* ���������� ���������� ������*/
  display: inline-block;/*������� �������, ������� ���������� ������� ����������*/
  width: 180px;
}/*��������� ������*/

#navbar a:hover {
  border-radius: 20px 5px;
  background-color: #0066FF;
}/*���� ��� ��������� �� ������*/

.head {
  height: 45px;
  left:0;
  right:0;
  top:0;
  width:100%;
  background-image: url(images/Rectangle_3.png);
  background-repeat:repeat;/*������ �����������*/
  position:fixed;/*������������� � ��������� ���������� left, top, right � bottom ����� �� ������ � �� ������ ������ ��������� ��� ��������� ���-��������*/
} /*������� �����*/

.title{
  font-size: 25px;
  padding-top: 0px;/*�������� ���� �� �������� ���� ����������� �������*/
  text-align: center;
}/*������ � ������������ ��������� */

.footer {
  border-style: solid;
  border-width: 1px;/*������ �����*/
  background-image: url(images/Rectangle_3.png);
  float: none;/*��������� �������� �� ��������.*/
  width: 100%;
  padding-top:0px;
  text-align: center;
  height: 40px;
  position:absolute;/*��������� ��������������*/

  left:0;
  bottom:0;
  clear: both;/*�������� ��������� �������� ������������ � ������� � ������ ����.*/
  font-size: 12px;
  
}/* ���� � ������ ����� ��������...������*/





