background:no-repeate;
#navbar {
  top:0px;
  margin: 0;
  padding: 0;
  list-style-type: none;/*Отменяет маркеры для списка.*/
  border: 2px solid #0066FF;/*рамка вокруг*/
  border-radius: 0px 0px;/*закругление углов*/
  width: 1279px;
  text-align: center;/*расположение текста по центру*/
  background-color:red;/*цвет заднего фона*/
}/*Стиль меню*/

#navbar {
  top:0px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  width: 1279px;
  text-align: center;
  background-color: #1E4E95;
color:red;
}/*Стиль меню*/

#navbar a {
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;/*Отменяет все эффекты, в том числе и подчеркивания у ссылок*/
  font-weight: bold;/* полужирное начертание шрифта*/
  display: inline-block;/*блочный элемент, который обтекается другими элементами*/
  width: 180px;
}/*положение кнопок*/

#navbar a:hover {
  border-radius: 20px 5px;
  background-color: #0066FF;
}/*тень при наведении на кнопку*/

.head {
  height: 45px;
  left:0;
  right:0;
  top:0;
  width:100%;
  background-image: url(images/Rectangle_3.png);
  background-repeat:repeat;/*повтор изображения*/
  position:fixed;/*привязывается к указанной свойствами left, top, right и bottom точке на экране и не меняет своего положения при прокрутке веб-страницы*/
} /*Рисунок шапки*/

.title{
  font-size: 25px;
  padding-top: 0px;/*значение поля от верхнего края содержимого элемент*/
  text-align: center;
}/*размер и расположение заголовка */

.footer {
  border-style: solid;
  border-width: 1px;/*ширина рамки*/
  background-image: url(images/Rectangle_3.png);
  float: none;/*Обтекание элемента не задается.*/
  width: 100%;
  padding-top:0px;
  text-align: center;
  height: 40px;
  position:relative;

  left:0;
  bottom:0;
  clear: both;/*Отменяет обтекание элемента одновременно с правого и левого края.*/
  font-size: 12px;
  
}/* блок в нижней части страницы...подвал*/
.container_slider_css{margin:0px auto;width:120px;height:200px;overflow:hidden;position:absolute}
.photo_slider_css{position:absolute;animation:round 16s infinite;opacity:0;width:100%}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:220px) {
.container_slider_css{width:80%;height:310px}
}
@media(min-width:321px) and (max-width:220px) {
.container_slider_css{width:80%;height:310px}
}
.container_slider_css1{margin-top:250px;margin-left:120px auto;width:120px;height:200px;overflow:hidden;position:absolute}
.photo_slider_css1{position:absolute;animation:round 16s infinite;opacity:0;width:100%}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:120px) {
.container_slider_css1{width:80%;height:110px}
}
@media(min-width:321px) and (max-width:120px) {
.container_slider_css1{width:80%;height:110px}
}
.product-wrap {
  width: 150px;
  float:left;
  margin-right:55px;

  background: white;
  padding: 0 0 20px;
  text-align: center;
  font-size: 10px; 
  font-family: Lora;
  text-transform: uppercase;
}

.product-item {
  position: relative;
  overflow: hidden;
}
.product-wrap img {
  display: block;
  width: 100%;
}
.product-buttons {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: .3s ease-in-out;
}
.button { 
  text-decoration: none;
  color: #c0a97a;
  font-size: 12px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 50%; 
  left: 50%;
  border: 2px solid #c0a97a;
  transform: translate(-50%, -50%) scale(0);
  transition: .3s ease-in-out;
}
.button:before {
  content: "\f07a";
  font-family: FontAwesome;
  margin-right: 10px;
}
.product-item:hover .product-buttons {opacity: 1;}
.product-item:hover .button {transform: translate(-50%, -50%) scale(1);}
.button:hover {background: black;}
.product-title {color: #5e5e5e;}
.product-title a {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 600;
  margin: 15px 0 5px;
  padding-bottom: 7px;
  display: block;
  position: relative;
  transition: .3s ease-in-out;
}
.product-title a:after{    
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: #2e2e2e;
  left: 50%;
  margin-left: -20px;
  bottom: 0;
  transition: .3s ease-in-out;
}
.product-title a:hover {color: #c0a97a;}
.product-title:hover a:after {background: #c0a97a;}
.product-price {
  font-size: 10px;
  color: #c0a97a;
  font-weight: 700;
}
.el{float:left;
}
.elss{margin-bottom:400px; margin-left:-300px; margin-top:320px; float:right;}
.elss1{margin-bottom:400px;margin-right:223px; margin-top:-290px; float:right;}
.element{

  background: #FFFFF; /* фон рамки */
    font-size: 20px; /* размер шрифта */
    
   
   height:300px;
	margin-left:10px;
padding:16px;
width:1200px;

}
.element1{


   margin-right:-40px;
margin-top:70px;
   height:280px;
	

;
width:1200px;


}